<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.edu.mapper.ChapterMapper">

    <resultMap id="chapterMapper" type="com.online.edu.entity.Chapter">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="title" property="title" />
        <result column="sort" property="sort" />
        <collection property="videoList" column="id" select="findVideos" />
    </resultMap>

    <select id="findVideos" resultType="com.online.edu.entity.Video">
        select * from edu_video where chapter_id = #{id}
    </select>

</mapper>
